.main {
  background: url("../../img/header_bg.png") center center/cover no-repeat;
  min-height: 650px;
  padding: 28px 0 93px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 251px;
}

.header__logo img {
  width: 100%;
}

.header__title {
  text-align: center;
}

.header__title span:first-child {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.header__title span:last-child {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 5px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__contact a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.header__contact .button {
  display: block;
  width: 150px;
  height: 30px;
  background: #c70101;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
}

.promo {
  max-width: 950px;
  margin: 0 auto;
}

.promo__title {
  padding-top: 91px;
  text-align: right;
}

.promo__title h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__title h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__icon {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-top: 66px;
}

.promo__icon .icon {
  padding-left: 71px;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  padding-bottom: 21px;
}

.promo__icon span {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.promo__consultation {
  padding-top: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__consultation button {
  width: 300px;
  height: 50px;
  background-color: #c70101;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__consultation span {
  display: block;
  padding-top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.promo__consultation a {
  text-decoration: underline;
  color: #ffffff;
}

.advantages {
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 70px 0 78px 0;
}

.advantages__content {
  max-width: 950px;
  margin: 0 auto;
}

.advantages__title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
}

.advantages__column {
  display: flex;
  padding-top: 65px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: MuseoSansCyrl, sans-serif;
}
