.main {
  background: url("../../img/header_bg.png") center center/cover no-repeat;
  min-height: 650px;
  padding: 28px 0 93px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  min-width: 251px;
}

.header__logo img {
  width: 100%;
}

.header__title {
  text-align: center;
}

.header__title span:first-child {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.header__title span:last-child {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 5px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__contact a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.header__contact .button {
  margin-top: 8px;
  display: block;
  width: 150px;
  height: 30px;
  background: #c70101;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.promo {
  max-width: 950px;
  margin: 0 auto;
}

.promo__title {
  padding-top: 91px;
  text-align: right;
}

.promo__title h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__title h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__icon {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-top: 66px;
}

.promo__icon .icon {
  padding-left: 71px;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  padding-bottom: 21px;
}

.promo__icon span {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.promo__consultation {
  padding-top: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__consultation button {
  width: 300px;
  height: 50px;
  background-color: #c70101;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.promo__consultation span {
  display: block;
  padding-top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.promo__consultation a {
  text-decoration: underline;
  color: #ffffff;
}

.advantages {
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 68px 0 78px 0;
}

.advantages__content {
  max-width: 950px;
  margin: 0 auto;
}

.advantages__title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
}

.advantages__column {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
  text-align: center;
}

.advantages__column .column {
  width: 265px;
}

.advantages__column .subtitle {
  padding-top: 38px;
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
}

.advantages__column span {
  display: block;
  padding-top: 23px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
}

.advantages__column span a {
  text-decoration: underline;
  color: #ff0000;
}

.consultation {
  min-height: 680px;
  background: url("../../img/bg_consultation.jpg") center center/cover no-repeat;
  padding: 100px 0 92px 0;
}

.consultation__content {
  max-width: 950px;
  margin: 0 auto;
}

.consultation__title {
  text-align: left;
}

.consultation__title h3 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.consultation__title h4 {
  padding-top: 70px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.consultation__form {
  padding-top: 36px;
  min-width: 300px;
}

.consultation__form .form-block {
  display: flex;
  flex-direction: column;
}

.consultation__form input {
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 66px;
  font-weight: 300;
  color: #4b4b4b;
  padding-left: 20px;
}

.consultation__form button {
  width: 300px;
  height: 55px;
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.carousel__inner img {
  width: 100%;
}

.carousel .slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -66px;
  border: none;
  background: white;
}

.carousel .slick-prev img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -66px;
  border: none;
  background: white;
}

.carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.catalog__title {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d0d0d;
}

.catalog__menu {
  padding-top: 69px;
  display: flex;
  justify-content: center;
}

.catalog__menu .btn__active {
  border: none;
  background-color: #c70101;
  color: #ffffff;
}

.catalog__menu button {
  position: relative;
  border: 2px solid #d0d0d0;
  background: white;
  width: 220px;
  height: 50px;
  transform: skewX(-25deg);
  margin: 0 10px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #6b6b6b;
  z-index: 5;
}

.catalog__menu button:hover {
  box-shadow: 0px 0px 20px 5px red;
  border: none;
}

.catalog__menu button div {
  position: relative;
  margin: 0 10px;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  -moz-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  -o-transform: skewX(25deg);
  z-index: 0;
}

.catalog__block {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 59px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog__content {
  margin: 0 8px 20px;
  width: 300px;
  border: 2px solid #e8e8e8;
  padding: 20px 0 27px 0;
  overflow: hidden;
}

.catalog__general {
  display: flex;
  width: 600px;
  transform: translateX(0px);
  transition: .2s linear;
}

.catalog__general .content-item {
  width: 50%;
  margin: 0 10px;
}

.catalog__general .content-item img {
  display: block;
  margin: 0 auto;
}

.catalog__general .content-item__title {
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
  margin-top: 20px;
}

.catalog__general .content-item__subtitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
  text-align: center;
  margin-top: 16px;
}

.catalog__general .content-item__more {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #c70101;
  text-align: center;
  margin-top: 17px;
  cursor: pointer;
}

.catalog__general .content-list {
  position: relative;
  width: 50%;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #555555;
  margin: 0 10px;
  padding: 0 22px 0 37px;
}

.catalog__general .content-list li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}

.catalog__general .content-list li:before {
  position: absolute;
  left: -14px;
  top: 5px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: red;
}

.catalog__general .content-list__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #c70101;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}

.catalog__line {
  width: 260px;
  height: 1px;
  background-color: #e8e8e8;
  margin: 20px auto;
}

.catalog .price-item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.catalog .price-item__price_old {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  text-decoration: line-through;
}

.catalog .price-item__price_new {
  font-size: 20px;
  font-weight: 700;
  color: #050505;
}

.catalog .price-item button {
  width: 131px;
  height: 40px;
  background-color: #c70101;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog .active_more {
  transform: translateX(-300px);
}

.catalog .hide_block {
  display: none;
}

.reviews {
  padding: 103px 0 71px 0;
  max-width: 950px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d0d0d;
  text-align: center;
  margin-bottom: 70px;
}

.reviews__body {
  display: flex;
  justify-content: center;
}

.reviews__photo {
  margin-right: 62px;
}

.reviews .name {
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 10px;
}

.reviews .dest {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
  margin-bottom: 19px;
}

.reviews .message {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
}

.reviews__line {
  width: 940px;
  height: 1px;
  background-color: #f6f6f6;
  margin: 48px auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: MuseoSansCyrl, sans-serif;
}

@media (max-width: 1000px) {
  .promo {
    padding: 0 30px;
  }
  .consultation__content {
    margin: 0 20px;
  }
  .consultation__title h3 {
    font-size: 30px;
  }
  .carousel__inner {
    width: 550px;
  }
}

@media (max-width: 768px) {
  .main {
    background: url("../../img/header_bg.png") -300px center/cover no-repeat;
  }
  .header {
    flex-wrap: wrap;
  }
  .header__logo {
    padding-right: 10px;
  }
  .header__contact {
    padding-left: 15px;
  }
  .header__contact a {
    font-size: 15px;
  }
  .promo__title h1 {
    font-size: 35px;
  }
  .promo__title h3 {
    font-size: 20px;
  }
  .advantages__column {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }
  .advantages__column .column {
    padding-top: 25px;
    width: 90%;
  }
  .advantages__column .subtitle {
    padding-top: 10px;
  }
  .carousel__inner {
    width: 350px;
  }
}

@media (max-width: 672px) {
  .header {
    justify-content: space-around;
  }
  .header__contact {
    padding-top: 30px;
    align-items: center;
  }
  .promo__title {
    padding-top: 45px;
    text-align: center;
  }
  .consultation__title h3 {
    font-size: 21px;
  }
}

@media (max-width: 507px) {
  .header {
    justify-content: space-around;
  }
  .header__contact {
    padding-top: 30px;
    align-items: center;
  }
  .header__title {
    padding-top: 30px;
  }
  .promo__icon {
    justify-content: space-around;
  }
  .promo__icon .icon {
    padding-left: 0;
  }
  .promo__consultation {
    align-items: center;
  }
  .consultation__content {
    margin: 0 5px;
  }
  .consultation__title {
    text-align: center;
  }
  .consultation__title h3 {
    font-size: 21px;
  }
  .consultation__form {
    display: flex;
    justify-content: center;
  }
  .consultation__form input, .consultation__form button {
    width: 250px;
  }
  .carousel__inner {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .main {
    background: url("../../img/header_bg.png") -500px center/cover no-repeat;
  }
  .promo__title h1 {
    font-size: 25px;
  }
  .promo__title h3 {
    font-size: 12px;
  }
  .carousel__inner {
    width: 150px;
  }
}
