.experience{
    margin-bottom: 120px;
    &__container{
        max-width: 1140px;
        margin: 0 auto;
    }
    &__block{
        display: grid;
        grid-template-columns: repeat(2, 425px);
        grid-template-rows: 121px auto;
        row-gap: 60px;
        column-gap: 121px;
        justify-content:center;
    }
    &__title{
        grid-column: 1 / 3;
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
        &-subtitle{
            @include in_circle;
            margin-bottom: 4px;
        }
        &-title{
            @include title_line-center;
        }
    }
    &__history{
        display: flex;
        &-line{
            position: relative;
            padding-right: 35px;
            &_circle{
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                top: 7px;
                left: -7px;
                z-index: 2;
            }
            &_main{
                position: absolute;
                width: 1px;
                height: 343px;
                background: black;
                left: 0;
                top: 7px;
            }
            &_first{
                position: absolute;
                width: 35px;
                height: 1px;
                background: black;
                top: 88px;
            }
            &_second{
                position: absolute;
                width: 35px;
                height: 1px;
                background: black;
                top: 251px;
            }
        }
    }
    &__content{
        &_title{
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 40px;
            
        }
        &_header{
            display: flex;
        }
        &_img{
            @include icon_circle;
            margin-right: 20px;
        }
        &_name span{
            &:first-child{
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                display: block;
            }
            &:last-child{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                display: block;
            }
        }
        &_text{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 45px;
            width: 375px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}