.head{
    position: relative;
    background: url('../../img/main_bg.jpg') 50% / cover no-repeat;
    height: 100vh;
    &__container{
        max-width: 1140px;
        margin: 0 auto;
    }
    &__title{
        padding-top: 206px;
        &-subtitle{
            @include before_circle;
        }
        &-maintitle{
            width: 532px;
            font-size: 48px;
            line-height: 60px;
            margin-bottom: 25px;
        }
    }
    &__btn{
        display: flex;
        width: 248px;
        justify-content: space-between;
        align-items: center;
        &_active{
            @include main-btn;
        }
        &_second{
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            text-decoration: none;
        }
    }
}
.hamburger{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 36px;
    height: 21px;
    top: 20px;
    right: 30px;
    cursor: pointer;
    span{
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long{
        width: 36px;
    }
}