.menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    &__block{
        position: absolute;
        left: -345px;
        width: 345px;
        height: 100vh;
        background: $main-color;
        transition: all .5s;
        z-index: 5;
    }
    .active{
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__container{
        position: absolute;
        top: 140px;
        left: 40px;
    }
    &__item{
        position: relative;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 35px;
        &:hover{
            &::before{
                background: white;
            }
        }
        a{
            color: #FFFFFF;
            text-decoration: none;
        }
        &::before{
            position: absolute;
            display: block;
            content: "";
            width: 15px;
            height: 15px;
            border: 1px solid #000000;
            border-radius: 100%;
            left: 0;
            top: 10px;
            transition: all .5s;
        }
    }
    &__social{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
    }
    &__overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.671);
        visibility: hidden;
        transition: all .5s;
        opacity: 0;
        z-index: 1;
    }
}