.skills{
    padding-bottom: 120px;
    &__container{
        max-width: 1140px;
        margin: 0 auto;
    }
    &__title{
        text-align: center;
        &-subtitle{
            @include in_circle;
        }
        &-title{
            @include title-line-center;
            margin-bottom: 60px;
        }
    }
    &__language{
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
        justify-content: center;
        margin-bottom: 120px;
        &-block{
            border: 1px solid black;
            padding: 30px 30px 25px 30px;
            display: flex;
            flex-direction: column;
        }
        &-icon{
            height: 65px;
            position: relative;
            margin-bottom: 20px;
            img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%)
            }
        }
        &-subtitle{
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 15px;
        }
        &-text{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__graph{
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
        &-block{
            position: relative;
            display: grid;
            grid-template-columns: 250px 100px;
            grid-template-rows: repeat(2, auto);
        }
        &-title{
            @include before_circle;
            margin-top: 10px;
            line-height: 15px;
        }
        &-percent{
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            text-align: right;
            margin-top: 10px;
        }
        &-line{
            position: absolute;
            grid-column: 1 / 3;
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            bottom: 0;
            &_orange{
                display: block;
                height: 14px;
                width: 0%;
                background: $main-color;
                border-radius: 4px;
            }
        }
    }
}