@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.social {
  position: fixed;
  left: -160px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  z-index: 5;
}

.social__text {
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.social__line {
  margin: 0 15px;
  width: 70px;
  height: 2px;
  background-color: black;
}

.social__icon {
  margin: 0 15px;
  transform: rotate(90deg);
}

.head {
  position: relative;
  background: url("../../img/main_bg.jpg") 50%/cover no-repeat;
  height: 100vh;
}

.head__container {
  max-width: 1140px;
  margin: 0 auto;
}

.head__title {
  padding-top: 206px;
}

.head__title-subtitle {
  position: relative;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
}

.head__title-subtitle:before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 0;
  top: -30%;
}

.head__title-maintitle {
  width: 532px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 25px;
}

.head__btn {
  display: flex;
  width: 248px;
  justify-content: space-between;
  align-items: center;
}

.head__btn_active {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: black;
  padding: 12px 25px;
  height: 45px;
  background: #FFA501;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.head__btn_second {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 36px;
  height: 21px;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #151812;
}

.hamburger span.long {
  width: 36px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu__block {
  position: absolute;
  left: -345px;
  width: 345px;
  height: 100vh;
  background: #FFA501;
  transition: all .5s;
  z-index: 5;
}

.menu .active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.menu__container {
  position: absolute;
  top: 140px;
  left: 40px;
}

.menu__item {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  list-style: none;
  margin-bottom: 15px;
  padding-left: 35px;
}

.menu__item:hover::before {
  background: white;
}

.menu__item a {
  color: #FFFFFF;
  text-decoration: none;
}

.menu__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 100%;
  left: 0;
  top: 10px;
  transition: all .5s;
}

.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.671);
  visibility: hidden;
  transition: all .5s;
  opacity: 0;
  z-index: 1;
}

.about__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 120px 0;
}

.about__block {
  padding-right: 100px;
  display: grid;
  grid-template-columns: 400px repeat(2, 320px);
  grid-template-rows: 243px 179px 178px;
}

.about__photo {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.about__me {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 7px 0 0 70px;
}

.about__subtitle {
  position: relative;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
}

.about__subtitle:before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 0;
  top: -30%;
}

.about__title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 24px;
}

.about__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #FFA501;
  left: 0;
  bottom: 0;
}

.about__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.about__skill {
  display: flex;
  align-items: flex-start;
  width: 260px;
  margin-left: 70px;
  margin-top: 40px;
}

.about__skill:last-child {
  margin-top: 0;
}

.about__skill-img {
  position: relative;
  display: block;
  z-index: 1;
  padding: 15px 0 0 15px;
  margin-right: 10px;
}

.about__skill-img:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.about__skill-text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.about__skill-text span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 6px;
}

.experience {
  margin-bottom: 120px;
}

.experience__container {
  max-width: 1140px;
  margin: 0 auto;
}

.experience__block {
  display: grid;
  grid-template-columns: repeat(2, 425px);
  grid-template-rows: 121px auto;
  row-gap: 60px;
  column-gap: 121px;
  justify-content: center;
}

.experience__title {
  grid-column: 1 / 3;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}

.experience__title-subtitle {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.experience__title-subtitle:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.experience__title-title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.experience__title-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #FFA501;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}

.experience__history {
  display: flex;
}

.experience__history-line {
  position: relative;
  padding-right: 35px;
}

.experience__history-line_circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFA501;
  border-radius: 100%;
  top: 7px;
  left: -7px;
  z-index: 2;
}

.experience__history-line_main {
  position: absolute;
  width: 1px;
  height: 343px;
  background: black;
  left: 0;
  top: 7px;
}

.experience__history-line_first {
  position: absolute;
  width: 35px;
  height: 1px;
  background: black;
  top: 88px;
}

.experience__history-line_second {
  position: absolute;
  width: 35px;
  height: 1px;
  background: black;
  top: 251px;
}

.experience__content_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.experience__content_header {
  display: flex;
}

.experience__content_img {
  position: relative;
  display: block;
  z-index: 1;
  padding: 15px 0 0 15px;
  margin-right: 20px;
}

.experience__content_img:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.experience__content_name span:first-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: block;
}

.experience__content_name span:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: block;
}

.experience__content_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 45px;
  width: 375px;
}

.experience__content_text:last-child {
  margin-bottom: 0;
}

.skills {
  padding-bottom: 120px;
}

.skills__container {
  max-width: 1140px;
  margin: 0 auto;
}

.skills__title {
  text-align: center;
}

.skills__title-subtitle {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.skills__title-subtitle:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.skills__title-title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 60px;
}

.skills__title-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #FFA501;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}

.skills__language {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 270px);
  gap: 13px;
  justify-content: center;
  margin-bottom: 120px;
}

.skills__language-block {
  border: 1px solid black;
  padding: 30px 30px 25px 30px;
  display: flex;
  flex-direction: column;
}

.skills__language-icon {
  height: 65px;
  position: relative;
  margin-bottom: 20px;
}

.skills__language-icon img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.skills__language-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
}

.skills__language-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.skills__graph {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 70px);
  column-gap: 45px;
  row-gap: 30px;
}

.skills__graph-block {
  position: relative;
  display: grid;
  grid-template-columns: 250px 100px;
  grid-template-rows: repeat(2, auto);
}

.skills__graph-title {
  position: relative;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  margin-top: 10px;
  line-height: 15px;
}

.skills__graph-title:before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 0;
  top: -30%;
}

.skills__graph-percent {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  margin-top: 10px;
}

.skills__graph-line {
  position: absolute;
  grid-column: 1 / 3;
  width: 350px;
  height: 14px;
  background: #E8E4DE;
  border-radius: 4px;
  bottom: 0;
}

.skills__graph-line_orange {
  display: block;
  height: 14px;
  width: 0%;
  background: #FFA501;
  border-radius: 4px;
}

.portfolio__container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.portfolio__title {
  text-align: center;
}

.portfolio__title-subtitle {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.portfolio__title-subtitle:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.portfolio__title-title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 85px;
}

.portfolio__title-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #FFA501;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}

.portfolio__gallery {
  display: grid;
  grid-template: repeat(2, 280px)/repeat(4, 280px);
  gap: 5px;
}

.price {
  margin-bottom: 120px;
}

.price__container {
  max-width: 1140px;
  margin: 0 auto;
}

.price__title {
  text-align: center;
  margin-bottom: 85px;
}

.price__title-subtitle {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.price__title-subtitle:before {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.price__title-subtitle:after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #FFA501;
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
}

.price__block {
  display: grid;
  grid-template: 1fr/repeat(2, 365px);
  justify-content: space-between;
  padding: 0 50px;
}

.price__block-column {
  display: grid;
  grid-template: repeat(3, 1fr)/365px;
  row-gap: 15px;
}

.price__item {
  position: relative;
  padding-left: 25px;
}

.price__item-subtitle {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 5px;
}

.price__item-subtitle:before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #FFA501;
  top: 2px;
  left: -25px;
}

.price__item-money {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  right: 0;
  top: 0;
}

.price__item-text {
  grid-column: 1 / 3;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
}
