* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 10;
}

nav .menu {
  padding: 13px 70px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

nav .menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_logo_text {
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 6px;
}

.subheader .subheader_call {
  margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

.subheader .subheader_phone {
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 178px;
  height: 52px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.promo {
  min-height: 800px;
  background: url("../img/header.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px;
  margin: 67px 0 0 0;
  text-align: center;
}

.promo .promo_subheader {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo .promo_description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 115px auto 0;
  width: 265px;
  height: 69px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.work {
  padding: 71px 0 65px 0;
}

.block_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

.block_title {
  margin: 38px 0 40px 0;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.work_content_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work_content .block_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.work_content .block_text {
  width: 343px;
}

.work_content .block_text_title {
  line-height: 21px;
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

.work_content .block_text_txt {
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  line-height: 21px;
}

.mob_app {
  background: url("../img/mob_app_bg.png") repeat;
  padding: 47px 0 60px 0;
}

.mob_app_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

.mob_app_title {
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin: 38px auto 0;
}

.mob_app_container {
  margin-top: 32px;
}

.mob_app_sub_title {
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

.mob_app_content {
  position: relative;
  margin-bottom: 19px;
}

.mob_app_img {
  display: block;
  margin: 0 auto;
}

.mob_app_content_text {
  position: absolute;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  top: 91px;
  padding: 0 27px;
  margin: 0 auto;
  text-align: center;
}

.mob_app_content_icon {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #000000;
  bottom: 35px;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}

.mob_app_content_icon img {
  display: block;
  margin: 6px auto;
}

.choise {
  position: relative;
}

.choise_first_block {
  min-height: 499px;
  padding-top: 57px;
  background-color: #070716;
}

.choise_first_block .first_block_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff;
  color: #070716;
}

.choise_first_block .first_block_title {
  margin-top: 32px;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  color: #ffffff;
}

.choise_first_block .first_block_subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.choise_second_block {
  min-height: 397px;
  background: url("../img/mob_app_bg.png") repeat;
}

.choise_second_block .second_block_subtitle {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  padding: 217px 0 138px 0;
}

.choise_img {
  max-width: 100%;
  position: absolute;
  top: 232px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.conditions {
  padding: 68px 0 94px 0;
}

.conditions_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

.conditions_title {
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin: 41px 0 33px 0;
}

.conditions_column_title, .conditions_column_subtitle {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #1ca8c3;
}

.conditions ul {
  list-style: none;
  padding: 22px 0 13px 50px;
}

.conditions ul li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  padding-bottom: 4px;
}

.conditions ul li:before {
  content: "";
  position: absolute;
  display: block;
  width: 21px;
  height: 20px;
  left: -30px;
  top: 5px;
  background: url("../img/condition_icon.png");
}
